In [4]:
from scrape_flight_crl import parse_flights, get_arrivals, get_departures

In [5]:
df = parse_flights()
arrivals, departures = get_arrivals(df), get_departures(df)

In [10]:
arrivals.head()
.ipynb_checkpoints/

              Flightnr. Depart Arrive      Start        End   Mon.   Tue.  \
connection  #
Agadir->CRL 0    FR8173  09:45  14:35 2017-10-30 2017-12-22   True  False
            1    FR8173  09:45  14:35 2017-12-19 2017-12-19  False   True
            2    FR8173  09:45  14:35 2017-12-27 2018-05-01  False  False
            3    FR8173  09:45  14:35 2018-02-01 2018-02-01  False   True
            4    FR8173  09:45  14:35 2018-08-01 2018-03-23   True  False

                Wed.   Thu.   Fri.   Sat.   Sun.
connection  #
Agadir->CRL 0   True  False   True  False  False
            1  False  False  False  False  False
            2   True  False   True  False  False
            3  False  False  False  False  False
            4   True  False   True  False  False