In [1]:
import pandas as pd
from scrape_flight_crl import parse_flights, get_arrivals, get_departures, URL, reshape_with_weekday_column

In [2]:
flights_df = parse_flights(url="backup/url_2017-11-19T22.html")

In [3]:
arrivals, departures = reshape_with_weekday_column(get_arrivals(flights_df)), reshape_with_weekday_column(get_departures(flights_df))

In [6]:
flights_df

                      Flightnr. Depart Arrive      Start        End   Mon.  \
connection          #
CRL->Agadir         0    FR8172  06:30  09:20 2017-10-30 2017-12-22   True
                    1    FR8172  06:30  09:20 2017-12-19 2017-12-19  False
                    2    FR8172  06:30  09:20 2017-12-27 2018-05-01  False
                    3    FR8172  06:30  09:20 2018-02-01 2018-02-01  False
                    4    FR8172  06:30  09:20 2018-08-01 2018-03-23   True
                    5    FR8172  08:00  10:50 2018-01-01 2018-01-01   True
                    6    FR8172  14:50  17:40 2017-12-21 2018-04-01  False
Agadir->CRL         0    FR8173  09:45  14:35 2017-10-30 2017-12-22   True
                    1    FR8173  09:45  14:35 2017-12-19 2017-12-19  False
                    2    FR8173  09:45  14:35 2017-12-27 2018-05-01  False
                    3    FR8173  09:45  14:35 2018-02-01 2018-02-01  False
                    4    FR8173  09:45  14:35 2018-08-01 2018-03-23   True
                    5    FR8173  11:15  16:05 2018-01-01 2018-01-01   True
                    6    FR8173  18:05  22:55 2017-12-21 2018-04-01  False
CRL->Algiers        0    TB3571  15:25  17:00 2017-02-11 2018-03-22  False
                    1    TB5331  15:25  18:00 2017-12-11 2017-11-19  False
                    2    TB5331  15:25  18:00 2017-11-26 2017-11-26  False
                    3    TB5332  15:25  18:00 2017-03-12 2018-01-14  False
                    4    TB5332  15:25  18:00 2018-01-21 2018-11-02  False
                    5    TB5332  15:25  18:00 2018-02-18 2018-03-18  False
Algiers->CRL        0     TB854  19:00  21:20 2017-02-11 2018-03-22  False
                    1    TB1331  19:00  21:20 2017-12-11 2017-11-19  False
                    2    TB1332  19:00  21:20 2017-11-26 2017-11-26  False
                    3    TB1385  19:00  21:20 2017-03-12 2018-01-14  False
                    4    TB1385  19:00  21:20 2018-01-21 2018-11-02  False
                    5    TB1385  19:00  21:20 2018-02-18 2018-03-18  False
CRL->Alicante       0    TB4973  06:30  08:50 2017-11-11 2018-03-24  False
                    1    TB3198  07:30  09:50 2017-01-11 2018-03-21  False
                    2    TB2408  14:05  16:25 2017-11-13 2018-03-19   True
                    3    FR9053  15:25  17:50 2017-12-31 2017-12-31  False
...                         ...    ...    ...        ...        ...    ...
Warsaw Modlin->CRL  5    FR1056  20:35  22:45 2018-01-01 2018-03-19   True
                    6    FR1056  20:40  22:50 2017-07-11 2018-03-22  False
CRL->Venice Treviso 0    FR6033  06:40  08:15 2017-10-29 2018-03-23  False
                    1    FR6055  12:55  14:30 2017-12-20 2018-03-01  False
                    2    FR6055  15:05  16:40 2017-06-11 2017-12-16   True
                    3    FR6055  15:05  16:40 2017-12-18 2017-12-23   True
                    4    FR6055  15:05  16:40 2017-12-26 2017-12-30  False
                    5    FR6055  15:05  16:40 2018-01-01 2018-03-24   True
                    6    FR6055  17:00  18:35 2017-01-11 2017-12-13  False
                    7    FR6055  17:00  18:35 2018-10-01 2018-03-21  False
Venice Treviso->CRL 0    FR6034  08:40  10:15 2017-10-29 2018-03-23  False
                    1    FR6056  14:55  16:35 2017-12-20 2018-03-01  False
                    2    FR6056  17:05  18:45 2017-06-11 2017-12-16   True
                    3    FR6056  17:05  18:45 2017-12-18 2017-12-23   True
                    4    FR6056  17:05  18:45 2017-12-26 2017-12-30  False
                    5    FR6056  17:05  18:45 2018-01-01 2018-03-24   True
                    6    FR6056  19:00  20:40 2017-01-11 2017-12-13  False
                    7    FR6056  19:00  20:40 2018-10-01 2018-03-21  False
CRL->Vilnius        0    FR6458  17:20  20:45 2017-10-29 2017-12-21  False
                    1    FR6458  17:20  20:45 2017-12-28 2017-12-28  False
                    2    FR6458  17:20  20:45 2018-04-01 2018-03-22  False
Vilnius->CRL        0    FR6459  21:10  22:45 2017-10-29 2017-12-21  False
                    1    FR6459  21:10  22:45 2017-12-28 2017-12-28  False
                    2    FR6459  21:10  22:45 2018-04-01 2018-03-22  False
CRL->Zaragoza       0    FR1382  08:00  10:00 2017-12-19 2017-12-19  False
                    1    FR1382  08:00  10:00 2018-02-01 2018-02-01  False
                    2    FR1382  17:00  19:00 2017-01-11 2018-03-24  False
Zaragoza->CRL       0    FR1383  10:25  12:30 2017-12-19 2017-12-19  False
                    1    FR1383  10:25  12:30 2018-02-01 2018-02-01  False
                    2    FR1383  19:25  21:30 2017-01-11 2018-03-24  False

                        Tue.   Wed.   Thu.   Fri.   Sat.   Sun.
connection          #
CRL->Agadir         0  False   True  False   True  False  False
                    1   True  False  False  False  False  False
                    2  False   True  False   True  False  False
                    3   True  False  False  False  False  False
                    4  False   True  False   True  False  False
                    5  False  False  False  False  False  False
                    6  False  False   True  False  False  False
Agadir->CRL         0  False   True  False   True  False  False
                    1   True  False  False  False  False  False
                    2  False   True  False   True  False  False
                    3   True  False  False  False  False  False
                    4  False   True  False   True  False  False
                    5  False  False  False  False  False  False
                    6  False  False   True  False  False  False
CRL->Algiers        0  False  False   True  False  False  False
                    1  False  False  False  False  False   True
                    2  False  False  False  False  False   True
                    3  False  False  False  False  False   True
                    4  False  False  False  False  False   True
                    5  False  False  False  False  False   True
Algiers->CRL        0  False  False   True  False  False  False
                    1  False  False  False  False  False   True
                    2  False  False  False  False  False   True
                    3  False  False  False  False  False   True
                    4  False  False  False  False  False   True
                    5  False  False  False  False  False   True
CRL->Alicante       0  False  False  False  False   True  False
                    1  False   True  False  False  False  False
                    2  False  False  False  False  False  False
                    3  False  False  False  False  False   True
...                      ...    ...    ...    ...    ...    ...
Warsaw Modlin->CRL  5  False  False  False  False  False  False
                    6   True   True   True  False  False  False
CRL->Venice Treviso 0  False   True  False   True  False   True
                    1  False   True  False  False  False  False
                    2   True  False   True   True   True   True
                    3   True  False   True   True   True  False
                    4   True  False   True   True   True  False
                    5   True  False   True   True   True   True
                    6  False   True  False  False  False  False
                    7  False   True  False  False  False  False
Venice Treviso->CRL 0  False   True  False   True  False   True
                    1  False   True  False  False  False  False
                    2   True  False   True   True   True   True
                    3   True  False   True   True   True  False
                    4   True  False   True   True   True  False
                    5   True  False   True   True   True   True
                    6  False   True  False  False  False  False
                    7  False   True  False  False  False  False
CRL->Vilnius        0  False  False   True  False  False   True
                    1  False  False   True  False  False  False
                    2  False  False   True  False  False   True
Vilnius->CRL        0  False  False   True  False  False   True
                    1  False  False   True  False  False  False
                    2  False  False   True  False  False   True
CRL->Zaragoza       0   True  False  False  False  False  False
                    1   True  False  False  False  False  False
                    2  False   True  False  False   True  False
Zaragoza->CRL       0   True  False  False  False  False  False
                    1   True  False  False  False  False  False
                    2  False   True  False  False   True  False

[1035 rows x 12 columns]